<a href="https://colab.research.google.com/github/Uzair56/FORMATIONSTRADER/blob/main/Retail_Sales_%26_Customer_Discount_Impact_Analysis_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# core libraries
import pandas as pd
import numpy as np

# Visualization libraries
import matplotlib.pyplot as plt
import seaborn as sns

# Settings
pd.set_option('display.max_columns', None)
sns.set(style="whitegrid")

print("Libraries imported successfully")

Libraries imported successfully

In [5]:
#load data
sales = pd.read_csv("/content/project1_df.csv")
sales.head()

,CID,TID,Gender,Age Group,Purchase Date,Product Category,Discount Availed,Discount Name,Discount Amount (INR),Gross Amount,Net Amount,Purchase Method,Location
0,943146,5876328741,Female,25-45,30/08/2023 20:27:08,Electronics,Yes,FESTIVE50,64.30,725.304000,661.004000,Credit Card,Ahmedabad
1,180079,1018503182,Male,25-45,23/02/2024 09:33:46,Electronics,Yes,SEASONALOFFER21,175.19,4638.991875,4463.801875,Credit Card,Bangalore
2,337580,3814082218,Other,60 and above,06/03/2022 09:09:50,Clothing,Yes,SEASONALOFFER21,211.54,1986.372575,1774.832575,Credit Card,Delhi
3,180333,1395204173,Other,60 and above,04/11/2020 04:41:57,Sports & Fitness,No,NaN,0.00,5695.612650,5695.612650,Debit Card,Delhi
4,447553,8009390577,Male,18-25,31/05/2022 17:00:32,Sports & Fitness,Yes,WELCOME5,439.92,2292.651500,1852.731500,Credit Card,Delhi

In [6]:
# check last rows of data
sales.tail()

,CID,TID,Gender,Age Group,Purchase Date,Product Category,Discount Availed,Discount Name,Discount Amount (INR),Gross Amount,Net Amount,Purchase Method,Location
54995,295864,5407639888,Other,25-45,23/02/2020 10:42:04,Electronics,Yes,SEASONALOFFER21,110.89,2819.9073,2709.0173,Debit Card,Other
54996,706435,1144029904,Other,18-25,12/07/2021 15:59:21,Electronics,Yes,SEASONALOFFER21,488.59,3891.3039,3402.7139,Cash on Delivery,Bangalore
54997,649435,9587323189,Male,45-60,02/08/2024 09:30:44,Home & Kitchen,Yes,NEWYEARS,417.63,4094.6875,3677.0575,Credit Card,Mumbai
54998,982183,5032564481,Female,45-60,05/08/2020 23:57:56,Beauty and Health,Yes,SEASONALOFFER21,204.56,3977.4735,3772.9135,Credit Card,Kolkata
54999,126691,9172953722,Male,25-45,21/07/2022 09:05:18,Beauty and Health,Yes,NEWYEARS,380.81,3703.5819,3322.7719,Credit Card,Mumbai

In [8]:
#check data size
sales.shape

(55000, 13)

In [9]:
#check column names
sales.columns

Index(['CID', 'TID', 'Gender', 'Age Group', 'Purchase Date',
       'Product Category', 'Discount Availed', 'Discount Name',
       'Discount Amount (INR)', 'Gross Amount', 'Net Amount',
       'Purchase Method', 'Location'],
      dtype='object')

In [10]:
#data structure and data types
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55000 entries, 0 to 54999
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   CID                    55000 non-null  int64
 1   TID                    55000 non-null  int64
 2   Gender                 55000 non-null  object
 3   Age Group              55000 non-null  object
 4   Purchase Date          55000 non-null  object
 5   Product Category       55000 non-null  object
 6   Discount Availed       55000 non-null  object
 7   Discount Name          27415 non-null  object
 8   Discount Amount (INR)  55000 non-null  float64
 9   Gross Amount           55000 non-null  float64
 10  Net Amount             55000 non-null  float64
 11  Purchase Method        55000 non-null  object
 12  Location               55000 non-null  object
dtypes: float64(3), int64(2), object(8)
memory usage: 5.5+ MB

In [12]:
#statistical summry of numeric data
sales.describe()

,CID,TID,Discount Amount (INR),Gross Amount,Net Amount
count,55000.000000,5.500000e+04,55000.000000,55000.000000,55000.000000
mean,551245.593891,5.504740e+09,136.986796,3012.936606,2875.949810
std,260603.330337,2.594534e+09,165.375502,1718.431066,1726.127778
min,100009.000000,1.000163e+09,0.000000,136.454325,-351.119775
25%,323717.000000,3.252604e+09,0.000000,1562.111325,1429.551863
50%,550088.500000,5.498383e+09,0.000000,2954.266150,2814.910875
75%,776955.750000,7.747933e+09,274.115000,4342.221675,4211.407838
max,999996.000000,9.999393e+09,500.000000,8394.825600,8394.825600

In [13]:
#check cateogrical data summry
sales.describe(include='object')

,Gender,Age Group,Purchase Date,Product Category,Discount Availed,Discount Name,Purchase Method,Location
count,55000,55000,55000,55000,55000,27415,55000,55000
unique,3,5,54988,9,2,5,8,14
top,Female,25-45,02/09/2023 03:18:58,Electronics,No,NEWYEARS,Credit Card,Mumbai
freq,18454,22010,2,16574,27585,8135,22096,11197

In [15]:
#clean data set column names
sales.columns = sales.columns.str.lower().str.replace(' ', '_')
sales.columns

Index(['cid', 'tid', 'gender', 'age_group', 'purchase_date',
       'product_category', 'discount_availed', 'discount_name',
       'discount_amount_(inr)', 'gross_amount', 'net_amount',
       'purchase_method', 'location'],
      dtype='object')

In [19]:
#discount name (null = no discunt)
sales['discount_name'] = sales['discount_name'].fillna('No Discount')
sales['discount_name'].isnull().sum()

np.int64(0)

In [21]:
#convert data time int datetime format
sales['purchase_date'] = pd.to_datetime(sales['purchase_date'], format='%d/%m/%Y %H:%M:%S')
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55000 entries, 0 to 54999
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   cid                    55000 non-null  int64
 1   tid                    55000 non-null  int64
 2   gender                 55000 non-null  object
 3   age_group              55000 non-null  object
 4   purchase_date          55000 non-null  datetime64[ns]
 5   product_category       55000 non-null  object
 6   discount_availed       55000 non-null  object
 7   discount_name          55000 non-null  object
 8   discount_amount_(inr)  55000 non-null  float64
 9   gross_amount           55000 non-null  float64
 10  net_amount             55000 non-null  float64
 11  purchase_method        55000 non-null  object
 12  location               55000 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(2), object(7)
memory usage: 5.5+ MB

In [23]:
#identify negative net amounts
sales[sales['net_amount'] < 0]

,cid,tid,gender,age_group,purchase_date,product_category,discount_availed,discount_name,discount_amount_(inr),gross_amount,net_amount,purchase_method,location
311,565676,1356242586,Male,45-60,2020-05-03 20:14:16,Beauty and Health,Yes,NEWYEARS,469.58,279.258000,-190.322000,Debit Card,Mumbai
383,101206,4082960786,Female,18-25,2020-05-05 07:02:36,Electronics,Yes,NEWYEARS,358.58,204.886500,-153.693500,Debit Card,Delhi
398,270557,9264884678,Male,45-60,2021-03-06 12:54:09,Home & Kitchen,Yes,WELCOME5,385.36,246.808100,-138.551900,Debit Card,Bangalore
489,334639,1610899978,Male,18-25,2022-09-18 22:31:07,Home & Kitchen,Yes,NEWYEARS,427.33,348.448275,-78.881725,Credit Card,Delhi
564,924584,8564435752,Other,25-45,2020-02-13 05:04:55,Electronics,Yes,SAVE10,429.49,414.914325,-14.575675,Credit Card,Delhi
...,...,...,...,...,...,...,...,...,...,...,...,...,...
54271,654558,6092629329,Male,25-45,2023-02-19 10:08:25,Electronics,Yes,SEASONALOFFER21,443.65,379.287000,-64.363000,Debit Card,Chennai
54280,253300,9018344109,Female,60 and above,2020-03-07 19:06:13,Home & Kitchen,Yes,SEASONALOFFER21,305.25,178.402875,-126.847125,Paytm UPI,Ahmedabad
54378,789978,1230560432,Female,25-45,2020-08-30 05:05:20,Books,Yes,SAVE10,212.69,185.241000,-27.449000,PhonePe UPI,Mumbai
54536,569063,8940735281,Male,45-60,2021-08-20 17:17:32,Electronics,Yes,FESTIVE50,492.84,216.315000,-276.525000,Google Pay UPI,Lucknow
54903,940867,8469174728,Male,25-45,2019-10-22 01:21:46,Clothing,Yes,SEASONALOFFER21,362.14,247.819000,-114.321000,Debit Card,Kolkata